nav{
    background: #1C2B35;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu a{
    padding-left:  35px;
    color: #ffff;

}
.menu a:hover{
    color: orange;
}